view ,swiper,swiper-item{
	box-sizing: border-box;	
	
	
}

.safe-area-inset-bottom {
	height: env(safe-area-inset-bottom);
}


//比较小且细的字体 
.small_font {
	font-size: 20rpx;
	font-weight: 300;
}

.page_top_background {
	width: 100%;
	box-sizing: border-box;
	height: 555rpx;
	background: url("/common/images/index/header_background.jpg");
	background-size: 100% 100%;
	position: absolute;
	z-index: -1;
}

.background {
	position: absolute;
	width: 100%;
	height: 100%;
	background:linear-gradient(to bottom,#fbfcfe 540rpx,#f5f5ff );
	z-index:-2;
}

